# Default ignored files from Rider
/.idea/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/

# Visual Studio
/.vs/

# Node.JS files
/node_modules
/package-lock.json

# Project-generated
/logs/
/typescript-build/
/public/employee-map.png

# Personal files
/Object Planning.drawio

# HTTP Client
*.http
*.rest