# Default ignored files from Rider
/.idea/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/

# User added ignored files
/node_modules
/Object Planning.drawio
/package-lock.json
/logs/
/public/employee-map.png
*.http
*.rest